# created by virtualenv automatically
Lib/
Scripts/
main/credentials.json
main/token.pickle
pyvenv.cfg
main/libs/__pycache__/
main/encrypt_files-main/encrypted files/
main/encrypt_files-main/data/__pycache__/
main/data/